body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:110%;
  background-color: #4d4d4d;
  color: rgb(166, 152, 131);
  display: flex;
  flex-direction: column;
}
.foreground{
  background-color: #272727;
  color: rgb(198, 127, 86);
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.myPic{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 75px;
  border-style: solid;
  border-color: rgb(198, 127, 86);
  margin-top: 15px;
}
.intro{
  max-width: 700px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}
.navlink a{
  color: rgb(198, 127, 86);
  margin: 135px;
}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer h3{
  text-decoration-line: underline;
}
.titles{
  text-decoration-line: underline;
}
.link{
  color: rgb(198, 127, 86)
}
.pEnding{
  padding-bottom: 15px;
}
.cd{
  height: 50px;
  width: 50px;
}
