body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:110%;
  background-color: #4d4d4d;
  color: rgb(166, 152, 131);
  display: flex;
  flex-direction: column;
}
.foreground{
  background-color: #272727;
  color: rgb(198, 127, 86);
  padding-top: 3px;
  padding-bottom: 5px;
  border-radius: 8px;
  border-style: solid;
  border-color: black;
  box-sizing: border-box;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.myPic{
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 75px;
  border-style: solid;
  border-color: rgb(198, 127, 86);
  margin-top: 15px;
}
.intro{
  max-width: 700px;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 15px;

}

.navlink a{
  color: rgb(198, 127, 86);
  padding: 135px;

}
.navlink:hover{
  background-color: #4d4d4d;
  border-radius: 8px;
  border-color: black;
  border-style: solid;

}
footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
footer h3{
  text-decoration-line: underline;
  padding-left: 33px;
}

.titles{
  text-decoration-line: underline;
}
.link{
  color: rgb(198, 127, 86)
}
.link:hover{
  color: rgb(165, 134, 87);
}
.pEnding{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.cd:hover{
  border: solid rgb(166, 152, 131);
  border-radius: 30px;
}
.linkedin{
  height: 50px;
  width: 50px;
  border: solid rgb(198, 127, 86);
  border-radius: 30px;
}
