body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size:110%;
  background-color: #4d4d4d;
}
.foreground{
  background-color: #272727;
  text-align: center;
  color: rgb(198, 127, 86);
  padding-top: 3px;
  padding-bottom: 5px;
}
.navlist{
  display: inline;
  margin-right: 150px;
}

.navlist a{
  color: rgb(198, 127, 86);
}
